.contacts__item {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Roboto";
  font-style: normal;
  border: 1px solid #333333;
  border-radius: 4px;
  padding: 20px;
}

.contact__name {
  font-weight: 800;
  margin-bottom: 8px;
}
.contact__age {
  font-weight: 400;
  margin-bottom: 8px;
}
.contact__sex {
  font-weight: 400;
}
